@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-roman.latin.var.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-italic.latin.var.woff2) format('woff2');
  font-named-instance: 'Italic';
}

body {
  font-family: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1;
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.02em;
}
b,
strong,
h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 650;
}
h1 {
  font-variation-settings: 'wght' 850;
}
h2 {
  font-variation-settings: 'wght' 750;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
}

.prose a {
  color: #0074de;
}

.nav-line .nav-link {
  color: #69778c;
}

.presentation {
  width:50%;
}

.card {
  margin-top: 2rem;
  display: flex;
  flex-direction: column; /* Ajouter ici distinction .sm\flex-row */
  margin-right: 0; /* Ajouter ici distinction .sm*/
  margin-left: 0; /* Ajouter ici distinction .sm*/
  margin-bottom: 1rem; /* Ajouter ici distinction .sm*/
  width: 100%;
}

.card-link {
  text-decoration: none;
  border-width: 4px;
  border-color: #e5e7eb;
  background-color: #f9fafb;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}

.card-div-1 {
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.card-div-images {
  position: relative;
  align-items: center;
}
.card-image {
  border-width: 4px;
  border-color: #e5e7eb; /* Neutral 200 */
  border-radius: 9999px; /* Rounded full */
  height: 64px; /* h-16 */
  width: 64px; /* w-16 */
}

.card-div-subimage{
  height: 30px; /* h-16 */
  width: 30px; /* w-16 */
  align-items: center;
  margin-top: -56px;
  margin-left: 40px;
}

.card-subimage {
  border-width: 4px;
  border-color: #e5e7eb; /* Neutral 200 */
  border-radius: 9999px; /* Rounded full */
  width: 24;
  height: 24;
}

.card-text-block {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  padding-right: 12px;
}

.card-text-block p {
  padding-top: 0px;
  padding-bottom: 0px;
}

.card a {
    color: #0074de;
    text-decoration:none;
    hover: underline;
}