@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-roman.latin.var.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-italic.latin.var.woff2) format('woff2');
  font-named-instance: 'Italic';
}

body {
  font-family: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1;
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.02em;
}
b,
strong,
h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 650;
}
h1 {
  font-variation-settings: 'wght' 850;
}
h2 {
  font-variation-settings: 'wght' 750;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
}

.prose a {
  color: #0074de;
}

.nav-line .nav-link {
  color: #69778c;
}

.presentation {
  width:50%;
}

.grid-card{
  display: flex;
  flex-direction: row;
}
.card {
  margin-top: 2rem;
  display: flex;
  flex-direction: column; /* Ajouter ici distinction .sm\flex-row */
  margin-right: 4px; /* Ajouter ici distinction .sm*/
  margin-left: 4px; /* Ajouter ici distinction .sm*/
  margin-bottom: 1rem; /* Ajouter ici distinction .sm*/
  width: 100%;
}

.card-link {
  text-decoration: none;
  border-width: 1px;
  border-color: #e5e7eb;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
}


.card-text-block {
  display: flex;
  flex-direction: column;
  padding-left: 4px;
  padding-right: 4px;
  width: 100%;
}

.card-text-block p {
  padding-top: 0px;
  padding-bottom: 0px;
}

.card-text-title {
  display: flex;
  flex-direction: row;
  padding-right: 2px;
  align-items: center;
}

.card a {
  color: #0074de;
  text-decoration:none;
  hover: underline;
}

.card p {
  font-size: small;
  color: gray;
}


.container-4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
}

.container-8 {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: 64px 20px 20px 20px 20px 20px 20px;
  align-items: center;
  grid-column-gap: 4px;
}

.container-8 p {
  font-size: smaller;
}

.container-sub {
  column-count : 2;
  padding-bottom: 8px;
}

.capacity{
  align-items: center;
  padding-right: 10px;
}
